@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
ul li {
  list-style: none;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Make it class  */
ul {
  display: flex;
  gap: 70px;
  padding-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.navbar h2 {
  color: 000000;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}
.top-image {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: -1;
}
#sign {
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 3px;
}
.primary-container {
  /* position: relative; */
  display: flex;
}

.heading {
  margin-top: 150px;
  color: rgb(179, 81, 81);
  font-family: "Poppins", sans-serif;
}
.second-container h1 {
  font-size: 60px;
  margin-top: 4px;
}
.second-container p {
  padding-top: 4px;
}
.second-container button {
  margin: 25px;
}
.btn {
  border: none;
  padding: 11px 15px;
  border-radius: 5px;
  background-color: rgb(178, 140, 52);
  color: white;
}
/* category */
/* Text div */
.text {
  text-align: center;
}
.text h1 {
  font-size: 45px;
  margin-top: 4px;
}
.text h4 {
  color: rgb(84, 79, 79);
  font-family: "Poppins", sans-serif;
}
/* Category div */
.category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.weather img {
  margin-left: 25px;
  height: 100px;
}
.weather h3 {
  margin-top: 12px;
}
.weather p {
  margin-top: 10px;
}
/* Flight Category */
.flights img {
  margin-left: 25px;
  height: 100px;
}
.flights p {
  margin-top: 10px;
}
/* Events Category */
.events img {
  margin-left: 25px;
  height: 100px;
}
.events h3 {
  margin-top: 12px;
}
.events p {
  margin-top: 10px;
}
/* Customization Category */
.customization img {
  margin-left: 25px;
  height: 100px;
}
.customization h3 {
  margin-top: 12px;
}
.customization p {
  margin-top: 10px;
}
/* Heading */
.top-heading {
  margin-top: 130px;
  justify-content: space-around;
  text-align: center;
}
.top-heading h5 {
  font-family: "Poppins", sans-serif;
  color: rgb(84, 79, 79);
}
.top-heading h1 {
  font-size: 50px;
  margin-top: 6px;
}
/* Destinations */
.destinations {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  height: 50px;
}
/* City-1 */
.city-1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
.city-2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
.city-3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
.img-1 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
}
.img-1 p {
  margin-left: 25px;
}
/* Booking Trips */
.booking {
  margin-top: 400px;
}
.booking h4 {
  font-size: 15px;
  font-family: poppins;
  margin-left: 15px;
  color: rgb(84, 79, 79);
}
.booking h1 {
  font-size: 55px;
  padding: 15px;
}
/* Paragraphs Booking */
/* First img */
.first-img {
  margin-top: 15px;
  display: flex;
}
.first-img h5 {
  margin-left: 20px;
  color: rgb(113, 104, 104);
  font-family: poppins;
}
.first-img p {
  font-family: poppins;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Second img */
.second-img {
  margin-top: 40px;
  display: flex;
}
.second-img h5 {
  margin-left: 20px;
  color: rgb(113, 104, 104);
  font-family: poppins;
}
.second-img p {
  font-family: poppins;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Third img */
.third-img {
  margin-top: 40px;
  display: flex;
}
.third-img h5 {
  margin-left: 20px;
  color: rgb(113, 104, 104);
  font-family: poppins;
}
.third-img p {
  font-family: poppins;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Trip To Greece */
/* Greece img */
.greece {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}
