@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
ul li {
  list-style: none;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Make it class  */
ul {
  display: flex;
  gap: 70px;
  padding-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.navbar h2 {
  color: 000000;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}
.top-image {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: -1;
}
#sign {
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 3px;
}
.primary-container {
  display: flex;
  justify-content: space-between;
}

.heading {
  margin-top: 150px;
  margin-bottom: 15px;
  color: #df6951;
  font-family: "Poppins";
}
.second-container h1 {
  font-family: "Volkhov";
  color: #181e4b;
  font-size: 80px;
  margin-top: 4px;
}
.second-container p {
  font-family: "Poppins";
  color: #5e6282;
  padding-top: 4px;
}
.btn {
  border: none;
  padding: 18px 29px;
  border-radius: 5px;
  background-color: #f1a501;
  color: white;
  font-family: "Google Sans";
}
.btn-demo {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
.demo {
  display: flex;
  align-items: center;
}
.demo i {
  color: #df6951;
  font-size: 45px;
}
.demo p {
  font-family: "Poppins";
  margin-left: 15px;
  color: #686d77;
}
.image {
  display: flex;
  justify-content: space-between;
  /* margin-top: 80px; */
  position: relative;
}
.airplane-1 {
  position: absolute;
  top: 45px;
  left: 130px;
}
.airplane-2 {
  position: absolute;
  /* top: 188px;
  right: -36px; */
  top: 140px;
  right: -52px;
}
/* category */
/* Text div */
.text {
  text-align: center;
}
.text h1 {
  font-size: 45px;
  margin-top: 4px;
  margin-bottom: 20px;
  font-family: "Volkhov";
  color: #14183e;
}
.text h5 {
  margin-bottom: 10px;
  color: #5e6282;
  font-family: "Poppins";
}
/* Category div */
.category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.weather img {
  /* margin-left: 25px; */
  height: 80px;
}
.weather h4 {
  color: #1e1d4c;
  font-family: "Open Sans";
  margin-top: 12px;
}
.weather p {
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 13px;
}
/* Flight Category */

.flights {
  margin-bottom: 45px;
  padding: 35px 45px;
  border-radius: 25px;
  position: relative;
  background-color: white;
  /* border: 2px solid #f1f1f1; */
  cursor: pointer;
}

.flights::before {
  content: "";
  background-image: url("./images/Rectangle\ 157.png");
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: 230px;
  z-index: -1;
  left: -36px;
  display: none;
}

.flights:hover::before {
  display: block;
}

.flights:hover {
  box-shadow: rgba(5, 123, 240, 0.2) 0px 8px 24px;
}

.flights img {
  /* margin-left: 25px; */
  height: 135px;
}
.flights h4 {
  color: #1e1d4c;
  font-family: "Open Sans";
}
.flights p {
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 13px;
}
.rectangle-img {
  position: absolute;
  top: 230px;
  right: 200px;
}
/* Events Category */
.events img {
  /* margin-left: 25px; */
  height: 80px;
}
.events h4 {
  color: #1e1d4c;
  font-family: "Open Sans";
  margin-top: 12px;
}
.events p {
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 13px;
}
/* Customization Category */
.customization img {
  /* margin-left: 25px; */
  height: 80px;
}
.customization h4 {
  color: #1e1d4c;
  font-family: "Open Sans";
  margin-top: 12px;
}
.customization p {
  font-family: "Poppins";
  font-size: 13px;
  margin-top: 10px;
}
/* Heading */
.top-heading {
  margin-top: 130px;
  justify-content: space-around;
  text-align: center;
}
.top-heading h5 {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}
.top-heading h1 {
  color: #14183e;
  font-family: "Volkhov";
  font-size: 50px;
  margin-top: 6px;
}
/* Destinations */
.destinations {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  height: 50px;
}
/* City-1 */
.city-1 {
  font-family: "Poppins";
  color: #5e6282;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 5px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
/* City 2 */
.city-2 {
  font-family: "Poppins";
  color: #5e6282;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
/* City 3 */
.city-3 {
  font-family: "Poppins";
  color: #5e6282;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 35px 20px;
  height: fit-content;
  border-radius: 10px;
}
.img-1 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
}
.img-1 p {
  font-family: "Poppins";
  color: #5e6282;
  margin-left: 25px;
}
/* Booking Trips */
.booking {
  margin-top: 400px;
}
.booking h5 {
  font-size: 15px;
  font-family: "Poppins";
  margin-left: 15px;
  color: #5e6282;
}
.booking h1 {
  font-family: "Volkhov";
  color: #14183e;
  font-size: 50px;
  padding: 15px;
}
/* Paragraphs Booking */
/* First img */
.first-img {
  margin-top: 15px;
  display: flex;
}
.first-img h5 {
  margin-left: 20px;
  color: #5e6282;
  font-family: "Poppins";
}
.first-img p {
  font-family: "poppins";
  color: #5e6282;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Second img */
.second-img {
  margin-top: 40px;
  display: flex;
}
.second-img h5 {
  margin-left: 20px;
  color: #5e6282;
  font-family: "Poppins";
}
.second-img p {
  font-family: "Poppins";
  color: #5e6282;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Third img */
.third-img {
  margin-top: 40px;
  display: flex;
}
.third-img h5 {
  margin-left: 20px;
  color: #5e6282;
  font-family: "Poppins";
}
.third-img p {
  font-family: "Poppins";
  color: #5e6282;
  font-size: 12px;
  position: absolute;
  margin-top: 25px;
  margin-left: 67px;
}
/* Trip To Greece */
/* Greece img */
.greece {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  padding: 20px;
  height: max-content;
  border-radius: 15px;
}
.easy-steps {
  display: flex;
  justify-content: space-between;
}
.greece-text h4 {
  color: #080809;
  margin-top: 15px;
  font-family: "Poppins";
}
.greece-text p {
  color: #84829a;
  margin-top: 5px;
}
.greece-text img {
  margin-top: 5px;
  padding: 5px;
}
/* building img */
.building-img {
  display: flex;
}
.building-img p {
  margin-top: 9px;
  margin-left: 5px;
}
/* Up img */
.upimg-text {
  display: flex;
  flex-wrap: nowrap;
}
.up-img {
  /* display: flex;
  flex-wrap: nowrap; */
  padding: 30px 10px;
  border-radius: 25px;
  position: relative;
  background-color: white;
  left: 150px;
  bottom: 120px;
  /* border: 2px solid #f1f1f1; */
  cursor: pointer;
}
.greece::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: 102px;
  /* top: 202px; */
  /* z-index: -1; */
  left: -36px;
  display: none;
}
.greece::before {
  display: block;
}
.greece:hover {
  box-shadow: rgba(5, 123, 240, 0.2) 0px 8px 24px;
}
.up-img::before {
  display: block;
}
.up-img:hover {
  box-shadow: rgba(5, 123, 240, 0.2) 0px 8px 24px;
}
/* Chris Thomas div */
.Chris-Thomas {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.Chris-Thomas h5 {
  font-family: "Poppins";
  color: #5e6282;
}
.Chris-Thomas h1 {
  margin-top: 15px;
  color: #14183e;
  font-family: "Volkhov";
  font-size: 50px;
}
/* Chris img */
.chris-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  height: fit-content;
  border-radius: 15px;
}
.chris-box p {
  font-family: "Poppins";
  color: #5e6282;
  font-size: 15px;
  margin-left: 25px;
}
.chris-box h3 {
  font-family: "Poppins";
  color: #5e6282;
  margin-top: 20px;
  font-size: 15px;
}
.chris-box h6 {
  font-family: "Poppins";
  font-size: 10px;
  color: #5e6282;
}
/* Logo */
.logo {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
/* first logo */
.first-logo {
  margin-top: 18px;
}
/* second logo */
.second-logo {
  margin-top: 25px;
}
/* forth logo */
.forth-logo {
  margin-top: 65px;
}
/* fifth logo */
.fifth-logo {
  margin-top: 70px;
}
/* Subscribe information */
.subscribe {
  height: 350px;
  text-align: center;
  margin-top: 70px;
  background-color: #dfd7f9;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.subscribe h1 {
  font-size: 25px;
  font-family: "Poppins";
  color: #5e6282;
  padding-top: 40px;
}
/* text button */
.text-button {
  display: flex;
  align-items: center;
  margin-top: 70px;
  justify-content: center;
}
.email-img {
  position: relative;
  top: 4px;
  left: 60px;
}
.email input {
  margin: 10px;
  padding: 20px 100px;
  border: none;
  border-radius: 5px;
}
.text-button button {
  padding: 20px 30px;
  background-color: #ff946d;
  color: white;
  border: none;
  border-radius: 5px;
}
/* last section */
.last-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}
/* first para */
.first-para h1 {
  font-size: 30px;
  font-family: "Poppins";
  color: #181e4b;
}
.first-para p {
  font-family: "Poppins";
  font-size: 13px;
  color: #5e6282;
}
/* second para */
.second-para h1 {
  color: #080809;
  font-size: 20px;
  font-family: "Poppins";
}
.second-para p {
  font-family: "Poppins";
  color: #5e6282;
  font-size: 13px;
  margin-top: 10px;
}
/* third para */
.third-para h1 {
  color: #080809;
  font-size: 20px;
  font-family: "Poppins";
}
.third-para p {
  font-family: "Poppins";
  color: #5e6282;
  font-size: 13px;
  margin-top: 10px;
}
/* forth para */
.forth-para h1 {
  color: #080809;
  font-size: 20px;
  font-family: "Poppins";
}
.forth-para p {
  font-family: "Poppins";
  color: #5e6282;
  font-size: 13px;
  margin-top: 10px;
}
.last-section h3 {
  font-family: "Poppins";
  color: #5e6282;
  margin-bottom: 8px;
}
